<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="metadataBehavior()">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="metadataBehavior()" name="ServiceMtk_P1_110.Matematika">
                <endpoint address="http://localhost:1910" binding="basicHttpBinding"
                    bindingConfiguration="" name="EndpointService" contract="ServiceMtk_P1_110.IMatematika" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    name="EndpointMex" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1910" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>